@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
}
.max-width-container {
    max-width: 1260px;
}

.max-width-container-bordered {
    @apply max-width-container border border-fotomediumgray;
}

.hover-red-link {
    @apply cursor-pointer transition transition-colors ease-in-out duration-200;
}

.hover-gray-link {
    @apply cursor-pointer transition transition-colors ease-in-out duration-200;
}

.hover-red-link:hover {
    @apply bg-fotored text-white;
}

.hover-red-link:hover .main-menu-svg-container {
    @apply text-white;
}

.hover-gray-link:hover {
    @apply bg-fotogray text-gray-900;
}
select,
textarea,
input {
    @apply p-2 shadow-sm border border-gray-100 bg-gray-200;
}
.item-slider-slide-button .item-slider-slide-button-icon {
    @apply bg-fotogray opacity-50 text-black font-bold;
}
.item-slider-slide-button:focus {
    @apply outline-none border-none;
}
.item-slider-slide-button:hover .item-slider-slide-button-icon {
    @apply bg-fotogray opacity-100;
}
.heroicon-svg {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}
.desktop-nav-menuitem {
    border-left: .5px solid rgba(255,255,255,.2);
    border-right: .5px solid rgba(255,255,255,.2);
    border-collapse: collapse;
}
.article-container {
    @apply px-4 overflow-x-auto;
}
.article-container p {
    @apply text-justify my-2 py-2;
    max-width: 100vw;
}
@screen lg {
    .article-container {
        @apply px-0;
        overflow-y: unset;
    }
    .article-container p {
        @apply px-0;
    }
}

.article-container h1 {
    @apply text-xl text-fotored my-8 pb-2 border-b border-fotored font-bold;
}
.article-container h2 {
    @apply text-lg text-fotored my-8 pb-2 border-b border-fotored;
}
.article-container a {
    @apply text-fotored underline;
}

.article-container table {
    @apply w-full;
}
.article-container table th,
.article-container table td {
    @apply text-center p-3 border border-0 border-b border-fotogray border-dotted;
}
.article-container table div {
    @apply w-full text-center my-2;
}
.article-container table a {
    @apply bg-fotored py-2 px-4 mt-8 text-white text-sm cursor-pointer transition transition-colors ease-in-out duration-200 no-underline;
}
.article-container table a:hover {
    @apply bg-fotogray text-gray-900;
}

.printer-compare-table td {
    @apply p-2;
}
.printer-compare-table th {
    @apply w-1/4 font-bold p-2;
}
.printer-compare-table {
    @apply w-full;
}

.printer-discounted-price {
    @apply text-fotored text-xl font-bold;
}
.printer-price {
    @apply text-gray-900 text-xl font-bold;
}

.printer-original-price {
    @apply line-through text-fotogray;
}
.transition-visible {
    transition: visibility 200ms ease-in-out;
}

@import 'components/slider';
@import 'components/ajax-list-or-grid-view';
