.slider {
  @apply overflow-x-hidden flex flex-col justify-center items-center relative w-full;
}

@screen sm {

  .slider {
    @apply overflow-x-hidden flex flex-col justify-center items-center relative w-full;
  }

}
.slider-inner {
  @apply bg-transparent flex justify-start absolute top-0 left-0 z-20;
  width: 20000px;
  overflow: hidden;
}

.slider-slide {
  @apply flex text-center text-xl text-white;
  transition: margin 1200ms ease;
}

.slider-slide-fullwidth {
  @apply w-screen;
}

.slider-link {
  @apply mx-3 cursor-pointer w-4 h-4 border-4 border-white mt-4;
  transition: background-color 300ms ease-in-out;
}

.slider-link-active {
  @apply bg-white;
}

.slider-logo-width {
  width: 50vw;
}

@screen md {
  .slider-logo-width {
    width: 20vw;
  }
}
.slider-page-button {
  position: absolute;
  top: 0px;
  width: 5%;
  height: 100%;
  opacity: .3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 3rem;
  color: white;
  background-color: rgba(7, 7, 7, .3);
  transition: opacity 200ms ease-in-out, background-color 200ms ease-in-out;
  cursor: pointer;
  font-weight: 800;
}

.slider-page-button:hover {
  opacity: .8;
  @apply bg-fotored;
}
